div.js-filter-wrapper-position{position: relative;}
div#js-filter-wrapper-toggle-btn{width: 24px;height: 24px;position: absolute; cursor: pointer; right: 3px; top: 3px;}
form.js-tk-combinesearch{display: inline-block; width: 100%; border: 1px solid #999;padding-top: 7px;}
form.js-tk-combinesearch div.js-filter-wrapper{margin: 5px 0;}
form.js-tk-combinesearch div.js-filter-wrapper div.js-filter-value input{width:96%;}
form.js-tk-combinesearch div.js-filter-wrapper div.js-filter-value input#filter_from,
form.js-tk-combinesearch div.js-filter-wrapper div.js-filter-value input#filter_email{width:92%;}
form.js-tk-combinesearch div.js-filter-wrapper div.js-filter-value select{width:96%;}
form.js-tk-combinesearch div.js-filter-wrapper div.js-filter-title {width:100%;}
div.js-ticket-special-character{display: inline-block;width: auto;}
div.js-filter-button{width: 100%; display: inline-block;border-top: 1px solid #999;padding-top: 10px;margin-bottom: 5px; text-align: center;}
input{box-sizing:content-box !important;}
/******* Heading ******/
div#js-tk-heading{font-size:20px;font-weight: bold;color:#000000;padding:10px 0px;margin-bottom: 20px;}
div#js-tk-heading.js-small{font-size:15px;font-weight:normal;color:#000000;padding:5px 0px;margin-bottom: 10px;}
/****** Controlpanel */
div#js-maincp-area{float: left;width: 100%;padding: 10px;}
div#js-maincp-area div.js-mnu-wrapper{padding: 7px 5px;}
div#js-maincp-area a.js-mnu-area{display: inline-block; text-decoration: none;}
div#js-maincp-area a.js-mnu-area{width: 100%;height: 73px; float: left; position: relative;}
div#js-maincp-area div.js-mnu-icon{display: inline-block;}
div#js-maincp-area div.js-mnu-icon img{margin: 12px;}
div#js-maincp-area div.js-mnu-text{display: inline-block; margin-left: -5px; width: 60%; vertical-align: middle;}
div#js-maincp-area div.js-mnu-text span{font-size: 13px;}
div#js-maincp-area div.js-mnu-arrowicon{position: absolute; top: 24px; right: 12px;}
/****** Footer ******/
div#js-tk-copyright{float: left;width:100%;text-align: center;margin:40px 0px 20px 0px;}
/****** Form *******/
div#js-tk-form-wraper{width:100%;float:left;padding:20px 40px 40px 40px;}
div.js-form-wrapper.js-padding-null{padding:0px;}
div#js-tk-form-wraper div div.js-form-title{padding:10px 0 0 0;}
div#js-tk-form-wraper div div.js-form-title.full{padding:10px 15px 0px 15px;}
div#js-tk-form-wraper div div.js-form-value{padding:0;}
div#js-tk-form-wraper div div.js-form-value.full{padding:0 15px;}
div#js-tk-form-wraper div div.js-form-value input{width:100%;}
div#js-tk-form-wraper div div.js-form-value select{width:100%;}
div#js-tk-form-wraper div div.js-form-value div.mce-tinymce.mce-container.mce-panel,div#tk_reply_message_editor div.mce-tinymce.mce-container.mce-panel,
div#js-tk-form-wraper div.js-form-value input[type="text"]{width:100% !important;box-sizing:border-box;}
div.js-tk-submit{text-align: center;float: left;width:100%;margin-top:20px;}
div.js-tk-submit input{padding:5px 16px;margin:20px 0px 10px 0px;border:0px;outline: 0px;}
/***** File Attachment*/
div#js-attachment-files {width: 100%; height: auto;display: inline-block;}
div#js-attachment-files span.js-value-text,span.tk_attachment_value_text{position: relative; width: 49%; margin: 5px 2px; float: left; display: inline-block;padding:2px;}
div#js-attachment-files span.js-value-text input[type="file"],span.tk_attachment_value_text input[type="file"]{padding:0px;width:100%;border:0px;}
div#js-attachment-files span.js-value-text span.js-attachment-remove,span.tk_attachment_remove{background: url('../images/close.png') no-repeat;position: absolute; width: 20px; height: 20px; top: 10px; right:5px;}
div#js-attachment-option {display: inline-block;width: 100%;}
div#js-attachment-option span.js-attachment-ins{float: left; margin-bottom: 10px;}
div#js-attachment-option span#js-attachment-add,span#tk_attachment_add{padding: 5px 16px; float: right;cursor: pointer;}
/***** Ticket ********/
div#js-tk-content-wrapper{float:left;width:100%;}
div#js-tk-content-wrapper form{margin:0px;}
div#js-tk-mt-tabs-wrapper{display: inline-block;width: 100%;}
div#tk_mt_tabs_wraper {display: inline-block; width: 100%; }
div#tk_mt_tabs {text-align: center; display:inline-block; width:96%; margin:0px 2% 10px 2%;}
div#tk_mt_tabs a{display: inline-block; margin-right:2%;padding: 17px 10px;font-size:15px;font-weight:500;text-decoration: none;margin-bottom:10px;white-space: nowrap;background: url(../images/tab.png);}
div#tk_mt_tabs a:last-child{margin-right: 0;}
div#tk_mt_tabs_bottom_line{width: 94%; float: left; display:inline-block; padding: 1px; margin: 0 3%;}
div#tk_mt_tabs_bottom_line_full{width: 99.5%; float: left; display:inline-block; padding: 1px 0 0 0;}
div#tk_search{width:100%; padding: 0px; padding:20px 5%;}
div#tk_search_data {text-align: center; width:100%; line-height: 28px;}
div#tk_search_data input{display: block; width:80%; border-radius: 5px; padding: 5px; margin: 5px 10% 10px 10%;}
div#tk_search_data button.tk_dft_btn{min-width: 90px;outline:0px;border-right: 5px;font-weight: 500;font-size: 13px;}
div#tk_search_data input.tk_department_search {display: inline-block; width: 20%; border-radius: 5px;padding: 5px; margin: 0;}
div#tk_search_data select.tk_department_select{margin: 0 5px 0 0; width: 24%;}
div#tk_mt_sort_wraper{display: inline-block; width:100%; float: left; margin:5px 0 7px 0; }
div#tk_mt_sort_wraper ul#tk_mt_sorts_menu{margin: 0px 0px; padding: 0px; }
div#tk_mt_sort_wraper ul#tk_mt_sorts_menu li.tk_mt_sorts_menu_link{float: left; list-style: none; text-align: center;padding:0px;}
div#tk_mt_sort_wraper ul#tk_mt_sorts_menu li.tk_mt_sorts_menu_link a {width:90%; display:inline-block;position: relative; padding: 2px 5px; text-decoration: none; }
div#tk_mt_sort_wraper ul#tk_mt_sorts_menu li.tk_mt_sorts_menu_link a img{max-height: 11px; max-width: 11px; position: absolute; right: 5px; top: 7px; }
div#tk_mt_sort_wraper ul#tk_mt_sorts_menu li.tk_mt_sorts_menu_link a:hover,div#tk_mt_sort_wraper ul#tk_mt_sorts_menu li.tk_mt_sorts_menu_link a.selected{text-decoration: none; }
div#tk_mt_sort_wraper ul#tk_mt_sorts_menu li.tk_mt_sorts_menu_link a img{border: 0 none; height: auto; max-width: 100%; vertical-align: middle; }
div.tk_mt_detail_main {float:left;margin-bottom: 5px; padding-bottom: 5px; width: 100%; }
div.tk_mt_detail_image {margin-top: 1.5%; float:left; text-align: center;padding: 5px; }
div.tk_mt_detail_image img{width: auto; max-height: 66px; max-width: 100%; }
div.tk_mt_detail_desc {float:left; margin-top: 1.5%;}
div.tk_mt_detail_desc div.tk_mt_detail_desc_top,
div.tk_mt_detail_desc div.tk_mt_detail_desc_middle,
div.tk_mt_detail_desc div.tk_mt_detail_desc_bottom{float: left; width:100%;position: relative; }
div.tk_mt_detail_desc span.tk_mt_detail_value_main {padding-left: 5px; width: 78%; height: 18px; overflow: hidden; white-space:nowrap; text-overflow: ellipsis;float: left; }
div.tk_mt_detail_desc div.tk_mt_detail_desc_top span.tk_mt_detail_value_main a.tk_mt_detail_link{text-decoration: none; }
div.tk_mt_detail_desc  span.tk_mt_detail_text {padding-left: 10px; display:inline-block; font-weight: bold; width: auto;float:left; margin-right:10px;}
div.tk_mt_detail_desc  span.tk_mt_detail_text_clr{position: relative; float: left; font-weight: bold; margin-right: 10px; z-index: 999999;}
div.tk_mt_detail_desc div.tk_mt_detail_desc_middle div.tk_mt_create_info{float: left; width: 75%; }
div.tk_mt_detail_desc div.tk_mt_detail_desc_middle div.tk_mt_create_info span.tk_mt_create_info_text{float: left; width: 100%; padding-left: 10px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap; }
div.tk_mt_detail_desc div.tk_mt_detail_desc_middle div.tk_mt_create_info span.tk_mt_create_info_text span.tk_mt_detail_text_sliding{position:relative; left:0px; white-space:nowrap;}
div.tk_mt_detail_desc div.tk_mt_detail_desc_middle div#tk_mt_status{position: absolute; right:10px; z-index: 2; }
div#tk_mt_status span.tk_mt_detail_status{color: #FFFFFF; text-align: center; padding: 4px 12px; font-weight: bold; border-radius: 13px;display:inline-block;}
span.tk_mt_detail_status_lock{background-color: #FFB613;}
span.tk_mt_detail_status_progress{background-color: #40D172;}
span.tk_mt_detail_status_close{background-color: #F04646;}
span.tk_mt_detail_status_overdue{background-color: #FE7C2C;}
span.tk_mt_detail_status_reply_cus{background-color: #333433;}
span.tk_mt_detail_status_reply_staff{background-color: #217AC3;}
div.tk_mt_detail_info{margin-top: 1.5%; float:left; }
div.tk_mt_detail_info div#tk_mt_detail_info_key_value_wraper  ,
div.tk_mt_detail_info:hover div#tk_mt_detail_info_key_value_wraper {padding-left: 10px; display:inline-block; width:98%; z-index: 3; }
div.tk_mt_detail_info div#tk_mt_detail_info_key_value_wraper span#tk_mt_priority.priority,
div.tk_mt_detail_info:hover div#tk_mt_detail_info_key_value_wraper span#tk_mt_priority.priority {color: #fff;font-weight: bold; display: inline-block; width: 50%; padding-left: 10px; }
div.tk_mt_detail_info div#tk_mt_detail_info_key_value_wraper span.tk_detail_info_key{float: left; width: 48%; margin: 0; padding: 0; }
div.tk_mt_detail_info div#tk_mt_detail_info_key_value_wraper span.tk_detail_info_value{float: left; width: 52%; margin: 0; padding: 0; overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
/* ticket details */
div#tk_detail_wraper{float: left; width:100%; }
div#tk_detail_wraper div#tk_heading{display: inline-block; margin: 10px 0; width:100%; float: left;padding:10px;}
div#tk_detail_wraper div#tk_heading span#tk_heading_text{padding: 5px 3px 2px 3px; font-size: 20px; }
div#tk_detail_content_wraper{float: left; width:100%; display: inline-block;padding:20px;}
div#tk_detail_content_wraper div#tk-before-internalnote-wrapper {float: left; width:100%; display: inline-block; margin: 15px 0; }
div#tk_detail_content_wraper div#tk-before-internalnote-wrapper div.js-tk-wrapper{float: left; width:100%; padding: 5px 0; }
div#tk_detail_content_wraper div.js-tk-wrapper div.js-tk-value{min-height: 24px; padding-top: 2px; padding-bottom: 2px; }
div#tk_detail_content_wraper div.js-tk-wrapper div.js-tk-title{font-weight: bold; padding-top: 2px;padding-bottom: 2px; }
div#tk_detail_content_wraper div.js-tk-wrapper div.js-tk-title{min-height: 20px; }
div#tk_detail_content_wraper div#tk_detail_post{float: left; min-height:90px;position: relative;}
div#tk_detail_content_wraper div#tk_detail_post span#tk_detail_post_text{float: left; margin:6% 2%;padding-left: 1%; }
div#tk_detail_content_wraper div#tk_detail_post a#tk_detail_post_edit{position: absolute; width: 20px; height: 20px; right: 2px; top:42%; text-decoration:none; }
div#tk_detail_content_wraper div#tk_detail_id{float: left; min-height: 90px;}
div#tk_detail_content_wraper div#tk_detail_id span,
div#tk_detail_content_wraper div#tk_detail_reply span{float: left; margin:2% 0;padding-left: 6%; }
div#tk_detail_content_wraper div#tk_detail_id span#tk_detail_id_value{display: inline-block; font-weight: bold;padding: 2px 0px 2px 10px;}
div#tk_detail_content_wraper div#tk_detail_reply span#tk_detail_id_value{display: inline-block; padding: 2px 0;; text-align: center;}
div#tk_detail_content_wraper div#tk_detail_id span.tk_detail_id_perority{border: none !important; color: #fff ; text-align: left !important; padding-left: 5px !important; margin-left: 15px !important; }
div#tk_detail_content_wraper div#tk_detail_reply{float: left;min-height:90px;}
div#tk_detail_content_wraper div#tk_detail_reply a{margin: 4% 0 5% 20%; text-align: center; text-decoration: none; width: auto; min-width: 35%; cursor: pointer; padding: 2px; }
div#tk_detail_top_info_wraper div#tk_detail_status{text-align: center; vertical-align: middle; height: 90px;position: relative;float: left;line-height: 90px;background:#dddddd;}
div#tk_detail_top_info_wraper span#tk_detail_status_text{vertical-align: middle;line-height: normal;color:#666666;font-size:18px;position: absolute;top:50%;transform: translate(0, -50%); left:0px;width:100%;}
div#tk_detail_info{margin-top:10px;padding-top:10px;}
div#tk_detail_info div#tk_detail_info_desc{margin-top: 1%; float:left;}
div#tk_detail_info_key_value_wraper{float:left; width:100%; margin-bottom: 5px; }
div#tk_detail_info div#tk_detail_info_desc span.tk_detail_info_key {float: left; font-weight: bold; margin:0 0 1% 2%; }
div#tk_detail_info div#tk_detail_info_desc span.tk_detail_info_value{float: left; margin:0 0 1% 2%; }
div#tk_detail_info_oc_btn,div#tk_detail_info_lu_btn{float: left; min-width:14%; width: auto;padding: 3px; margin: 2% 0 0 3%; text-align: center; }
div#tk_detail_info_oc_btn:hover,
div#tk_detail_info_lu_btn:hover {cursor: pointer; }
div#tk_detail_info_oc_btn span,
div#tk_detail_info_lu_btn span {font-size: 12px; display: inline-block; vertical-align: middle; }
div#tk_detail_info_oc_btn img,
div#tk_detail_info_lu_btn img{border: 0 none; height: auto; max-width: 18px; max-height: 18px; vertical-align: middle; }
div#tk_detail_info_lu_btn{margin-top: 3px; }
div#tk_detail_reply_wraper div.tk_detail_reply div.tk_detail_reply_image,
div#tk_reply_message_wrapper div.tk_detail_reply_image,
div#tk_reopenticket div.tk_detail_reply_image {float:left; width:12%;}
div#tk_detail_reply_wraper div.tk_detail_reply div.tk_detail_reply_image img,
div#tk_reply_message_wrapper div.tk_detail_reply_image img,
div#tk_reopenticket div.tk_detail_reply_image img{max-width: 100%; max-height: 100px;}
div#tk_detail_wraper div#tk_reply_message_wrapper,div#tk_reopenticket{float:left; width:100%; margin-top: 3%;}
div#tk_detail_wraper div#tk_reply_message_wrapper div#tk_reply_message_editor,div#tk_reopenticket div#tk_reply_message_editor {position:relative; float: left; width: 87%;}
div#tk_detail_wraper div#tk_reply_message_wrapper div#tk_reply_message_editor:after,div#tk_reopenticket div#tk_reply_message_editor:after,
div#tk_detail_wraper div#tk_reply_message_wrapper div#tk_reply_message_editor:before,div#tk_reopenticket div#tk_reply_message_editor:before {right:100%; top:25px; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none;}
div#tk_detail_wraper div#tk_reply_message_wrapper div#tk_reply_message_editor:after,
div#tk_reopenticket div#tk_reply_message_editor:after {border-width:13px; margin-top:-13px;}
div#tk_detail_wraper div#tk_reply_message_wrapper div#tk_reply_message_editor:before,
div#tk_reopenticket div#tk_reply_message_editor:before {border-width:14px; margin-top:-14px;}
/* requestor info */
div#tk_request_info_wrapper,div#tk_request_info_wrapper div#tk_request_detail{float: left; width:100%;}
div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_man,div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_email{float: left; width: 37%;}
div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_man div#tk_request_detail_pic{margin-left:10px;float: left;}
div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_email div#tk_request_detail_email_pic{margin: 2% 0 4% 4%; float: left;}
div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_man div#tk_request_detail_pic img,div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_email div#tk_request_detail_email_pic img{max-width: 100%; max-height: 30px; }
div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_email div#tk_request_detail_email_pic img{width:20px;}
div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_man span#tk_request_detail_name_text,div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_email span#tk_request_detail_email_text{margin: 2.5% 0 0 4%; float: left; }
div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_show_hide{float: left; width:20%; }
div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_show_hide span#tk_request_detail_show_text{display: inline-block; margin: 8px 4px 4px 4px;vertical-align: middle; }
div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_show_hide span#tk_request_detail_show_up_down_img{display: inline-block; width: 14%; height: 18px; vertical-align: middle; margin-left:10px;}
div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_show_hide span.tk_request_detail_show_text_img{background: url('../images/showhide.png') no-repeat;background-size: 100% 100%; }
div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_show_hide span.tk_request_detail_show_text_img_down{background: url('../images/showhide.png') no-repeat; background-size: 100% 100%;-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}
div#tk_request_info_wrapper div#tk_request_detail div#tk_request_detail_show_hide span#tk_request_detail_show_text:hover{cursor: pointer; }
div#tk_detail_content_wraper div#tk_properties{margin-top: 1.5%; float: left; width: 100%; }
/* common key value css for tickets */
div.tk_key_value_wraper{margin: 5px 0;float:left;}
div.tk_key_value_wraper div.tk_key_wraper{float: left; width: 30%; white-space: nowrap; }
div.tk_key_value_wraper div.tk_value_wraper{float: left; width: 68%; }
div.tk_key_value_wraper div.tk_key_wraper span.tk_key_text{display: inline-block; text-align: right; width: 90%; }
div.tk_key_value_wraper div.tk_value_wraper span.tk_value_text{display: inline-block; text-align: left; width: 90%; }
div.tk_key_value_wraper div.tk_value_wraper span.tk_properties_value{padding: 2px 5px; vertical-align:middle; }
div.tk_key_value_wraper div.tk_value_wraper span.tk_properties_hyphen{vertical-align: middle; }
div.tk_key_value_wraper div.tk_key_wraper span.tk_properties_key{padding: 3px; }
div#tk_detail_reply_wraper{float:left; width: 100%; margin-top: 5px;}
div#tk_detail_reply_wraper div.tk_detail_reply{float:left; width:100%; margin-bottom: 2%; }
div#tk_detail_reply_wraper div.tk_detail_reply div.tk_detail_reply_image,
div#tk_reply_message_wrapper div.tk_detail_reply_image,
div#tk_reopenticket div.tk_detail_reply_image {float:left; width:12%; }
div#tk_detail_reply_wraper div.tk_detail_reply div.tk_detail_reply_image img,
div#tk_reply_message_wrapper div.tk_detail_reply_image img,
div#tk_reopenticket div.tk_detail_reply_image img{max-width: 100%; max-height: 100px; }
div#tk_detail_reply_wraper div.tk_detail_reply div.tk_detail_reply_description{position: relative; float: left; width:87%;border-radius: 4px;padding:10px 20px;}
div#tk_detail_reply_wraper div.tk_detail_reply div.tk_detail_reply_description div.tk_detail_reply_description_left{padding:5px;margin-bottom: 10px;}
div#tk_detail_reply_wraper div.tk_detail_reply div.tk_detail_reply_description div.tk_detail_reply_description_left span.tk_detail_reply_description_subject{font-size:15px;margin-right:5px;}
div#tk_detail_reply_wraper div.tk_detail_reply div.tk_detail_reply_description:after, div#tk_detail_reply_wraper div.tk_detail_reply div.tk_detail_reply_description:before {right:100%; top:25px; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none; }
div#tk_detail_reply_wraper div.tk_detail_reply div.tk_detail_reply_description:after {border-width:13px; margin-top:-13px; }
div#tk_detail_reply_wraper div.tk_detail_reply div.tk_detail_reply_description:before {border-width:14px; margin-top:-14px; }
div#tk_detail_wraper div#tk_reply_message_wrapper,div#tk_reopenticket{float:left; width:100%; margin-top: 3%; }
div#tk_detail_wraper div#tk_reply_message_wrapper div#tk_reply_message_editor,div#tk_reopenticket div#tk_reply_message_editor {position:relative; float: left; width: 100%; }
div#tk_detail_wraper div#tk_reply_message_wrapper div#tk_reply_message_editor:after,
div#tk_reopenticket div#tk_reply_message_editor:after {border-width:13px; margin-top:-13px; }
div#tk_detail_wraper div#tk_reply_message_wrapper div#tk_reply_message_editor:before,
div#tk_reopenticket div#tk_reply_message_editor:before {border-width:14px; margin-top:-14px; }
div.tk_attachments_wraper{float: left; width: 100% }
div.tk_attachments_wraper div.tk_attachment_key_wrapper{float: left; width: auto; min-width:10% }
div.tk_attachments_wraper div.tk_attachment_key_wrapper span.tk_attachment_key_text{float: left; text-align: center; margin-top: 7px; width: 100%; }
div.tk_attachment_value_wrapper{float: left; width:84%; padding: 1%; margin-left: 2%; }
span.tk_attachment_value_text{margin: 2px; padding: 2px; display: inline-block; float: left;position: relative; width: 45%; }
span.tk_attachment_value_text span.tk_attachment_remove{background: url('../images/close.png') no-repeat; position: absolute; width: 20px; height: 20px; top: 5px; right:2px; }
span.tk_attachments_config{display: inline-block; width: 50%; float: left; margin-left: 12%; }
span.tk_attachments_configform{display: inline-block; width: 50%; float: left; margin-left: 10%; }
span.tk_attachments_add{display: inline-block; float: right; border-radius: 5px;padding: 5px; margin: 1% 2% 0 0; text-align:center;}
span.tk_attachments_addform{display: inline-block;float: right;border-radius: 5px;padding: 5px; margin: 1% 0 0 0; text-align:center;}
div.js-nopadding{padding:0px;}
div#js-messagelayout-wrapper{width:80%;margin:20px 10%;background: #fdfdfd none repeat scroll 0 0;border: 1px solid #b8b8b8;padding:20px;box-shadow: 0 0 20px 0 rgba(119, 119, 119, 0.56);float:left;}
div#js-messagelayout-wrapper div#js-imgfor-message{display: inline-block; float: left; width: 20%;}
div#js-messagelayout-wrapper div#js-datafor-message{display: inline-block; float: left; width: 80%;}
div#js-messagelayout-wrapper div#js-datafor-message div.js-message-title{color: #d30907;display: inline-block; font-size: 16px; font-weight: bold; margin-top: 20px; padding-left: 2%; width: 98%;}
div#js-messagelayout-wrapper div#js-datafor-message div.js-message-detail{background: #252429 none repeat scroll 0 0; color: #ffffff;display: inline-block; font-size: 13px; margin: 5px 0; padding: 2%; width: 96%;}
div#jl_pagination{display:inline-block;width:100%;position:relative;padding:0px;padding-left:20%;}
div#jl_pagination div#jl_pagination_pageslink{width:60%;margin:5px 5%;float:left;text-align:center;}
div#jl_pagination div#jl_pagination_pageslink ul{display:inline-block;margin:0px;padding:0px;}
div#jl_pagination div#jl_pagination_pageslink ul li{display:inline-block;margin:2px 4px;padding:2px;}
div#jl_pagination div#jl_pagination_counter{position:absolute;width:18%;top:0px;left:2%;margin-top:12px;}
div#jl_pagination div#jl_pagination_box{width:30%;float:left;margin-top:4px;}
div#jl_pagination div#jl_pagination_box select{margin-bottom: 0px;margin-left: 10px;}
@media(max-width:480px){
	div#tk_detail_content_wraper div#tk_detail_id span,
	div#tk_detail_content_wraper div#tk_detail_reply span{float: left; margin:5px 0px 0px 0px;padding-left:0; }
	div#tk_detail_top_info_wraper div#tk_detail_status{height: 60px;line-height: 60px;}
	div#tk_detail_content_wraper div#tk_detail_post{padding:0px;min-height: auto;}
	div#tk_detail_content_wraper div#tk_detail_post span#tk_detail_post_text{margin:10px 0px;white-space: nowrap;}
	div#tk_detail_content_wraper div#tk_detail_id{padding:0px;}
	div#tk_detail_content_wraper div#tk_detail_id div{padding:0px;}
	div#tk_detail_content_wraper div#tk_detail_reply{padding:0px;}
	div#tk_detail_content_wraper div#tk_detail_reply div{padding:0px;}
	div#js-tk-form-wraper{padding:20px 0px;}
	span.tk_attachments_addform{width:auto;}
	div#js-attachment-files span.js-value-text, span.tk_attachment_value_text{width:100%;}
	div#tk_detail_reply_wraper div.tk_detail_reply div.tk_detail_reply_description{width:82%;margin-left: 20px;}
    div#jl_pagination{display: inline-block;width: 100%;padding: 0px;}
    div#jl_pagination div#jl_pagination_pageslink{display: inline-block;width: 100%;padding: 0px;}
    div#jl_pagination div#jl_pagination_box{display: inline-block;width: 100%;padding: 0px;}
    div#jl_pagination div#jl_pagination_counter{display: inline-block;width: 100%;padding: 0px;position: relative;}
}
div#tk_detail_info_key_value_wraper span.js-value-subject{color: #0033A5;font-weight: 600;}
div.js-null-margin.js-row{margin:0px;}
div.tk_detail_reply_attachments_wrper{border: 1px solid #cccccc;padding:5px;float:left;width:100%;}
div.tk_detail_reply_attachments_wrper div.tk_detail_reply_attachments_file_size{float: left;margin-right:10px;}
div.tk_detail_reply_attachments_wrper div.tk_detail_reply_attachments_download_wraper{float: left;}
div#tk_request_detail_man,div#tk_request_detail_email,div#tk_request_detail_show_hide{background: #FFFFFF;border:1px solid #cccccc;margin-right:10px;}