.template-box{text-align: center;}
.template-name{min-height: 50px;font-size: 18px;margin-top: 5px;}
.template-box {margin-bottom: 10px;}
@media (max-width: 767px) {
        .template-name{min-height: auto;}
        .template-box{margin-bottom:10px; border-bottom: 1px solid #d9d9d9;padding-bottom:10px;}
}